---
- name: Nokia version check (raw SSH)
  hosts: all
  gather_facts: no
  tasks:
    - name: Get system info via raw SSH
      ansible.builtin.raw: "show system information"
      register: output

    - name: Show result
      debug:
        var: output.stdout_lines
