---
- name: Software version check (generic - netcommon)
  hosts: all
  gather_facts: no
  vars:
    # Inventory should provide connection details:
    # ansible_connection: network_cli
    # ansible_network_os: <platform compatible with CLI>
    # ansible_user / ansible_password
    # ansible_port (if not 22)
    version_commands:
      - "show version"
      - "show system information"
  tasks:
    - name: Run version commands via CLI
      ansible.netcommon.cli_command:
        command: "{{ item }}"
      loop: "{{ version_commands }}"
      register: version_out

    - name: Aggregate CLI output
      ansible.builtin.set_fact:
        version_raw_output: "{{ version_out.results | map(attribute='stdout') | list }}"

    - name: Print aggregated version info
      ansible.builtin.debug:
        var: version_raw_output
